<h1>Welcome to HAM-MC</h1>

<div class="row transmission">
  <div class="col-md-3">
    <div class="panel">
      <div class="panel-heading">
        Altitude
      </div>
      <div id="altitude" class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel">
      <div class="panel-heading">
        Latitude
      </div>
      <div id="latitude" class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel">
      <div class="panel-heading">
        Longitude
      </div>
      <div id="longitude" class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel">
      <div class="panel-heading">
        Temperature
      </div>
      <div id="temperature" class="panel-body">
      </div>
    </div>
  </div>
</div>


<div class="text-center">
  <button id="createRandom" class="btn btn-lg btn-primary">Create Random Transmission</button>
  <p id="feedback"></p>
</div>
